.DS_Store
credits.py
*.csv
__pycache__
*.json
/.idea/
/.idea/jira_worklog_tool_for_retro.iml
/.idea/jsonSchemas.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
*.xml
*.iml
